.event-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .name_event {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .toggle-button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .toggle-button + .toggle-button {
    margin-top: 10px;
    margin-left: 266px;
  }
  
  .toggle-button:hover {
    background-color: #45a049;
  }
  
  .details-section {
    margin-left: 20px;
  }
  
  .go_back-button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 265px;
  }
  
  .go_back-button:hover {
    background-color: #555;
  }
  